
.sliderItem {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.indicators {
  display: none !important;
}

.slider {
  background-color: #292927;
}

.image-slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;  
}

@media (max-width: 576px) {
  .image-slider { 
    font-size: 17px;
  }

  .img-main-index .image-slider {
    height: 11em !important;
  }
}

