
.title {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  line-height: 1;
  color: white;
}

.container-info {
  padding: .8em 0;
  background-color: #292927;
}

.listService {
  padding: 0 1em;
}

.listService > a {
  text-decoration:none; 
  width: 50%;
  display: inline-block;
  color: white;
  font-size: 1.3em;
  word-wrap: break-word;
  padding-left: 20px;
  position: relative;
}

.listService > a:link {
  text-decoration:none;
}

.listService .icon svg {
  position: absolute;
  left: 7px;
  top: 13px;
  font-size: .3em;
}