
#comentarios * {
	font-size: 1.2em;
	margin: 5px 0;
	padding: 5px;
	width: 100%;
	color: #527d97;
}

.efectSombra {
	border: 1px solid #dcdcdc;
	padding: 4px 5px 5px;
	margin-left: 0px;
	margin-right: 0px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

.boton {
	cursor: pointer;
	font-family: Phenomena-Regular;
	width: auto !important;
	padding: 5px;
	border-radius: 5px;
	background-color: #527d97;
	border: none;
	color: white !important;
}

.divMap iframe {
	min-height: 360px;
  width: 100%;
}