.title-service {
  margin-bottom: 1em;
  font-size: 3em;
}

.description {
  display: table;
  width: auto;
  margin: auto;
}

.description-container {
  margin: auto;
}

.description-text {
  text-align: justify;
  font-size: 1.4em;
}

.description-title {
  font-size: 1.6em;
}
