/* Add a black background color to the top navigation */
@font-face
{
	font-family: Phenomena-Regular;
	src: url('../fonts/phenomena/Phenomena-Regular.otf');
}
.topnav {
	border-top: solid gray 1px;
	border-bottom: solid gray 1px;
	margin: 0 0 1.9em 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: black;
  text-align: center;
	padding: .2em .6em;
	display: inline-block;
  text-decoration: none;
  font-size: 1.7em;
  font-family:Phenomena-Regular;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: black;
}
.logoHeader{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:16em;
}
hr{
	width:85%;
	border-color:#f2f2f2;
	size:30px;
	height:10%;
}
.contactHeader{
	background-color:#292927;
	color:white;
	height:85%;
	text-align:center;
	font-family:Phenomena-Regular;
	padding:10px;
}

.container-header-info {
	font-size: 1.2em;
}

.topData{
	margin-right: 30px;
}

.icon-header {
	width: 1.4em;
	margin-right: 10px;
	vertical-align: sub;
}